extends layout
block title
    title The African Ebook Library API

block content
    div.shell
        main.container-fluid.mt-4
            div.col-sm-auto.col-md-8.mx-auto
                h1.h3  The African Ebook Library API
                h6.fst-italic  The Online Repository of African Literature.

        div.py-5.container-fluid.vision.mt-5.mx-0
            div.col-sm-auto.mx-auto.col-md-8
                h2 Vision
                ul
                    li.h6 To bring Africa's Rich Literary Culture and History to The World
                    li.h6 Bringing the best books of Africa from different tribes, ethnic groups, languages to the digital space
                    li.h6 Give young and aspiring writers a platform to showcase their work to the public
